# PostgreSQL Configuration
POSTGRES_PASSWORD=tfg_un1r_PWD
POSTGRES_DB=tfg_unir
POSTGRES_USER=user_tfg

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/tfg_unir
SPRING_DATASOURCE_USERNAME=user_tfg
SPRING_DATASOURCE_PASSWORD=tfg_un1r_PWD

# JWT Configuration
JWT_SECRET=813cef5f-3459-4618-87a6-a69e2a1296d4_mySecretKey_mySecretKey_CHANGE_IN_PRODUCTION
